.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #78f;
  color: aliceblue;
  font-size: 24px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  li {
  }
}

.flash {
  display: flex;
  margin-top: 10px;
  background-color: blue;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.field_with_errors {
  display: inline-block;

  label {
    color: red;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    border: 1px solid red;
  }
}
