<li>
  <%# link_to resume.title, resume_path(id: resume.id) %> <%# 可簡化為下方 %>
  <%= link_to resume.title, resume_path(resume) %>
  |
  <%= link_to 'X', resume_path(resume), method: "delete", data:{confirm: "確定刪除嗎？"} %>
</li>